/* Переваги */

.solutions__container {
    display: flex;
  }
  
  .solutions__desk {
    padding: 84px 44px 84px 30px;
  
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
  }
  
  .solutions__title {
    margin-bottom: 5px;
  
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
  }
  
  .solutions__subtitle {
    margin-bottom: 26px;
  
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
  }
  
  .solutions__text {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  
  .solutions__button {
    display: block;
    min-width: 167px;
    padding: 12px 0;
  
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
  
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }