.footer {
    background-color: #333333;
    padding: 20px 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1330px;
}

.icon {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
}

.icon__item:not(:last-child) {
    margin-right: 25px;
}

.icon__item {
    width: 35px;
    height: 35px;

}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.icon__links {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon__social {
    fill: #FFFFFF;
}