 <!-- Про нас -->
 <section class="section solutions">
      <div class="container solutions">
        <h2 class="visually-hidden">Bespoke solutions</h2>
        <img src="./images/bespoke.jpg" alt="People in offices" width="680" />
        <div class="solutions-desk">
          <h3 class="section-title">What you are looking for</h3>
          <p class="solutions-subtitle">We provide bespoke solutions</p>
          <p class="solutions-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            ipsum dignissimos quae laudantium asperiores nam aliquid impedit
            harum illum dolore explicabo ab dolores itaque rerum temporibus
            doloribus iste maiores deleniti?
          </p>
          <button type="button" class="button">Read More</button>
        </div>
      </div>
    </section>