 <!-- Про нас -->
 <section class="solutions">
      <div class="solutions__container container">
        <h2 class="visually-hidden">Bespoke solutions</h2>
        <img src="./images/bespoke.jpg" alt="People in offices" width="680" />
        <div class="solutions__desk">
          <h3 class="solutions__title">What you are looking for</h3>
          <p class="solutions__subtitle">We provide bespoke solutions</p>
          <p class="solutions__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            ipsum dignissimos quae laudantium asperiores nam aliquid impedit
            harum illum dolore explicabo ab dolores itaque rerum temporibus
            doloribus iste maiores deleniti?
          </p>
          <button type="button" class="solutions__button">Read More</button>
        </div>
      </div>
    </section>