<!-- Benefits -->
<section class="section">
    <div class="container">
      <h2 class="visually-hidden">Our benefits</h2>
      <ul class="benefits">
        <li class="benefits__item">
          <div class="benefits__box">
            <svg class="benefits__icon" width="35" height="35">
              <use href="./images/icons.svg#university"></use>
            </svg>
          </div>
          <h3 class="benefits__title">Investmant Banking</h3>
          <p class="benefits__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!.
          </p>
        </li>

        <li class="benefits__item">
          <div class="benefits__box">
            <svg class="benefits__icon" width="35" height="35">
              <use href="./images/icons.svg#book-reader"></use>
            </svg>
          </div>
          <h3 class="benefits__title">Portfolio Manager</h3>
          <p class="benefits__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>

        <li class="benefits__item">
          <div class="benefits__box">
            <svg class="benefits__icon" width="35" height="35">
              <use href="./images/icons.svg#fa-solid_pencil-alt"></use>
            </svg>
          </div>
          <h3 class="benefits__title">Tax & Custudio</h3>
          <p class="benefits__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
      </ul>
    </div>
  </section>