    <footer class="footer">
        <div class="container">
          <ul class="icon list">
            <li class="icon__item">
              <a class="icon__links secondary" href="" aria-label="Facebook">
                <span class="visually-hidden">Facebook</span>
                <svg class="icon__social" width="35" height="35">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon__links secondary" href="" aria-label="Twitter">
                <span class="visually-hidden">Twitter</span>
                <svg class="icon__social" width="35" height="35">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon__links secondary" href="" aria-label="youtube">
                <span class="visually-hidden">youtube</span>
                <svg class="icon__social" width="35" height="35">
                  <use href="./images/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="icon__item">
              <a class="icon__links secondary" href="" aria-label="Linkedin">
                <span class="visually-hidden">Linkedin</span>
                <svg class="icon__social" width="35" height="35">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="footer__text">Copyright © 2021 - FinanceLedger</p>
      </div>
        </footer>