<section>
  <div class="container callback-container">
    <img
      src="./images/form.jpg"
      alt="The person leaves a feedback"
      width="665"
    />

    <div class="callback-box">
      <h2 class="section-title">Request Callback</h2>

      <form class="callback-form">
        <input
          class="form-input form-input-name"
          type="text"
          name="name"
          aria-label="user name"
          placeholder="Enter your name"
        />

        <input
          class="form-input form-input-email"
          type="email"
          name="email"
          aria-label="email"
          placeholder="Enter email*"
        />

        <button class="form-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
