<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a href="" class="logo">
        <svg class="logo-icon" width="40" height="35">
          <use href="./images/icons.svg#book-open"></use>
        </svg>
        <span class="logo-span">Finance</span> Ledger
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="" class="heder-link">Home</a>
        </li>
        <li class="header-item">
          <a href="#" class="heder-link">About</a>
        </li>
        <li class="header-item">
          <a href="#" class="heder-link">Cases</a>
        </li>
        <li class="header-item">
          <a href="#" class="heder-link">Blog</a>
        </li>
        <li class="header-item">
          <a href="#" class="heder-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
