<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a href="" class="logo">
        <svg class="logo__icon" width="40" height="35">
          <use href="./images/icons.svg#book-open"></use>
        </svg>
        <span class="logo__span">Finance</span> Ledger
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="heder__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#" class="heder__link">About</a>
        </li>
        <li class="header__item">
          <a href="#" class="heder__link">Cases</a>
        </li>
        <li class="header__item">
          <a href="#" class="heder__link">Blog</a>
        </li>
        <li class="header__item">
          <a href="#" class="heder__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
