<section class="cases">
  <div class="container">
    <h2 class="cases__title">This is what we do</h2>
    <h3 class="cases__subtitle">Business Cases</h3>
    <p class="cases__descr">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="list cases__list">
      <li>
        <img src="./images/case-1.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-2.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-3.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-4.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-5.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-6.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-7.jpg" width="320" alt="" />
      </li>
      <li>
        <img src="./images/case-8.jpg" width="320" alt="" />
      </li>
    </ul>
  </div>
</section>
